@font-face {
  font-family: 'Apoc-Revelations';
  src: url('fonts/Apoc-Revelations.woff2') format('woff2'),
      url('fonts/Apoc-Revelations.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Apoc-Revelations-Italic';
  src: url('fonts/Apoc-RevelationsItalic.woff2') format('woff2'),
      url('fonts/Apoc-RevelationsItalic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Apoc-Revelations';
  margin: 0;
  padding: 10px;
  font-size: 16px;
  overflow-x: hidden;

  background: #f0dba8;
  color: black;
}

body.home {
  width: 100%;
  position: relative;
}
h1, h2, h3, h4, p, ul, li {margin: 0; padding: 0; font-weight: normal;}

ul {list-style: none;}

h1 {
  z-index: 99;
  opacity: .8;
  position: fixed;
  bottom: -40px;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  font-size: 1.675em;
  width: 100vh;
}
h1 span {
  display: block;
  font-size: .575em;
}

h2 {
  font-family: 'Apoc-Revelations-Italic';
  font-size: 1.675em;
  margin-bottom: 12px;
  margin-top: 72px;
  font-style: italic;
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: green;
  font-family: 'Apoc-Revelations-Italic';
  text-transform: uppercase;
  font-size: .675em;
}

p {
  font-size: 1em;
  line-height: 1.225em;
  max-width:80%;
  margin-bottom: 32px;
  width: 100%;
  text-decoration: none;
  color: inherit;

}
h3 {
  font-size: 1.225em;
  line-height: 1.225em;
  max-width: 80%;
  margin-bottom: 6px;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dashed black;
}
img {
  display: block;
}

.wrapper {
  max-width: 1200px;
  padding: 60px 0 0 60px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  margin: 0 0 62px 0;
}
.container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 62px;
}

.container iframe,
.container object,
.container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {

  /* .optics {
    height: 100vh;
    width: 100vh;
    margin: 0 auto 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: red;
    opacity: .5;
    border-radius: 50%;
    filter: blur(3vh);
    z-index: 0;
  } */
  a {
    border-bottom: 1px dashed black;
  }
  .wrapper {
    padding: 60px 80px 0 130px;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.125em;
  }
}
